# To find and drop the missing values from the given dataset

In [1]:
import pandas as pd
df = pd.read_csv('/kaggle/input/nifty50-stock-market-data/BAJAJ-AUTO.csv')
df.isna()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3198,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3199,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3200,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3201,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [2]:
df_new = df.dropna()

df_new.isna()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
746,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
747,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
748,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
749,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
750,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3198,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3199,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3200,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3201,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# To remove the duplicates from the given dataset

In [3]:
import pandas as pd

dict = {'Name' : ['Misti','Misti','Vansh','Jay','Dhrumi'],
        'ID' : [101,101,103,104,105]}

df = pd.DataFrame(dict)

print("Before Removing Duplicate Values : ")

df

Before Removing Duplicate Values :

     Name   ID
0   Misti  101
1   Misti  101
2   Vansh  103
3     Jay  104
4  Dhrumi  105

In [4]:
print("\nAfter Removing Duplicate Values : ")

new_df = df.drop_duplicates()

new_df

After Removing Duplicate Values :

     Name   ID
0   Misti  101
2   Vansh  103
3     Jay  104
4  Dhrumi  105