# Write a Pandas program to filter all columns where all entries present,check which rows and columns has a NaN and finally drop rows with any NaNs from the given dataset

In [1]:
import pandas as pd

df = pd.read_csv("/kaggle/input/nifty50-stock-market-data/BAJAJ-AUTO.csv")

df_filtered = df.dropna(axis=1,how='any')
print("\nColumns with all entries present (no NaN):")
df_filtered

Columns with all entries present (no NaN):

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Deliverable Volume,%Deliverble
0,2008-05-26,BAJAJ-AUTO,EQ,2101.05,898.00,898.00,551.35,600.25,604.75,624.61,3972485,2.481245e+14,1202933,0.3028
1,2008-05-27,BAJAJ-AUTO,EQ,604.75,624.70,639.00,580.30,595.50,593.15,606.43,1751063,1.061901e+14,369389,0.2110
2,2008-05-28,BAJAJ-AUTO,EQ,593.15,561.65,621.90,561.65,605.10,608.15,608.75,1652355,1.005877e+14,898602,0.5438
3,2008-05-29,BAJAJ-AUTO,EQ,608.15,619.40,619.40,576.00,600.00,599.45,600.98,669269,4.022165e+13,449951,0.6723
4,2008-05-30,BAJAJ-AUTO,EQ,599.45,605.40,607.00,538.00,576.25,571.70,565.55,1262117,7.137937e+13,936432,0.7420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197,2021-04-26,BAJAJ-AUTO,EQ,3672.50,3682.20,3749.00,3676.00,3739.00,3738.85,3719.79,480016,1.785560e+14,155563,0.3241
3198,2021-04-27,BAJAJ-AUTO,EQ,3738.85,3738.85,3798.00,3727.20,3795.00,3785.50,3764.89,518487,1.952048e+14,140987,0.2719
3199,2021-04-28,BAJAJ-AUTO,EQ,3785.50,3810.05,3954.00,3807.00,3887.15,3889.75,3909.99,1252958,4.899048e+14,190766,0.1523
3200,2021-04-29,BAJAJ-AUTO,EQ,3889.75,3943.00,3954.30,3807.10,3818.95,3836.45,3880.32,1335444,5.181950e+14,168500,0.1262
3201,2021-04-30,BAJAJ-AUTO,EQ,3836.45,3805.00,3966.35,3800.00,3827.00,3833.75,3869.17,1340273,5.185744e+14,229768,0.1714

In [2]:
rows_with_nan = df[df.isna().any(axis=1)]
columns_with_nan = df.columns[df.isna().any()]
df_no_na_rows = df.dropna(axis=0,how='any')
print("Total rows after dropping NaN : ",len(df_no_na_rows))

Total rows after dropping NaN :  2456